.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-right: 1px solid #cccccc;
  width: 250px;
  height: 100vh;
  position: fixed;
}

.menu div {
  display: flex;
}

.menu p {
  margin: auto 0 auto 15px;
  font-size: 1.1rem;
}

.menu div:hover {
  cursor: pointer;
}

.logout-button {
  margin-top: auto;
}