body {
  position: fixed;
  width: 100%;
}

.post-modal-bg {
  background-color: #00000096;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-modal-container {
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  max-height: 80vh;
}

.image-side {
  width: 100%;
}

.comments-side {
  width: 700px;
  border-radius: 5px;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

.comments-side img {
  width: 35px;
  border-radius: 100%;
  align-self: center;
}

.user-posts-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.user-posts-info p {
  font-weight: bold;
  margin: 0;
}

.comments-container,
.add-comment-section,
.post-actions-container {
  padding: 10px
}

.comments-container div {
  display: flex;
  gap: 12px;
}

.comments-container div img {
  margin-top: 12px;
  align-self: flex-start;
}

.post-actions-container {
  border-top: 1px solid #cccccc;
}

.post-actions-container div {
  display: flex;
  justify-content: space-between;
}

.post-actions-container p:last-of-type {
  margin: 0;
}

.add-comment-section {
  border-top: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-comment-section input {
  border: none;
  outline: none;
  font-size: .9rem;
}

.add-comment-section button {
  border: none;
  background-color: white;
  transition: 200ms;
  font-weight: bold;
  font-size: .9rem;
}

.add-comment-section button:hover {
  cursor: pointer;
  color: #4596ff;
}

.comments-container {
  overflow: auto;
  overflow-y: scroll;
  height: calc(100% - 235px);
}

