.profile-access {
  display: flex;
}

.profile-access img {
  width: 50px;
  border-radius: 100%;
  align-self: center;
  margin-right: 20px;
}

.profile-access div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.profile-access p {
  margin: 0;
}

.profile-access a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.profile-access a:hover {
  cursor: pointer;
}

.profile-access p {
  color: #7b7b7b;
}

.profile-access-container {
  padding-top: 20px;
}