.search-heading {
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid #cccccc;
}

.search-heading input {
  height: 35px;
  width: 350px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
}

.search-heading h2 {
  margin-bottom: 30px;
}

.search-matches {
  padding-top: 8px;
  overflow-x: scroll;
  height: calc(100vh - 145px);
}

.search-matches div {
  height: 65px;
}

.search-matches div:hover {
  height: 65px;
  background-color: #e4e4e4;
  cursor: pointer;
}

.search-matches div img {
  margin-left: 20px;
}

.search-matches a {
  text-decoration: none;
}

.search-profile {
  display: flex;
}

.search-profile img {
  width: 50px;
  border-radius: 100%;
  align-self: center;
  margin-right: 20px;
}

.search-profile div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.search-profile p {
  margin: 0;
}

.search-profile p:first-of-type {
  font-weight: bold;
  color: black;
}

.search-profile p:last-of-type {
  color: #7b7b7b;
}

.profile-access-container {
  padding-top: 20px;
}