.post-container .profile-picture {
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
  align-self: center;
}

.post-profile-info {
  display: flex;
  gap: 10px;
  margin: 20px 0px 5px 0px;
  padding-left: 5px
}

.post-picture {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.post-container {
  width: 500px;
  border-bottom: 1px solid #cccccc;
}

.post-container input {
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  height: 20px;
  outline-style: none;
}

.interactables {
  display: flex;
  margin-top: 5px;
}

.interactables :last-child {
  margin-left: auto;
}

.interactables :first-child {
  margin-right: 10px;
}

.loading-gif {
  width: 30px;
  margin: 50px 0px 50px 0px;
}